<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Setting</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<h3 class="my-3 text-dark">Change Password</h3>
							<form th:action="@{/user/change-password}" method="post" >
								<div class="form-group">
									<input name="old_password" type="password" class="form-control"
										placeholder="Enter your password">
								</div>
								<div class="form-group mt-2">
									<input name="new_password" type="password" class="form-control"
										placeholder="Enter your new password">
								</div>
								<div class="text-center mt-2">
									<button type="submit" class="btn btn-success">Change</button>
									<button type="reset" class="btn btn-warning">Reset</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		   $(document).ready(()=>{
			   $(".itme").removeClass("active");
			   $("#st-link").addClass("active");
		   });
		</script>
	</section>
</body>
</html>