<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})" >
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
	<section>
	 <h3>Smart Contact Manager</h3>
	 <p> This application provides the solution for the problem when you have the many user with same name 
	 which cause the trouble in managing them.</p>
	 <p> This application stores the contact details in versatile manner which helps you to identify correct user</p>
	</section>
</body>
</html>